/* .about__container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
} */
/* for back ground shadow of image */
body{
    background-color:beige;
}
.about__me {
    /* width: 100%; */
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg,
            transparent,
            var(--color-primary),
            transparent);
    display: grid;
    place-items: center;
}

/* for tilt of image before hover */
.about__me-image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}

/* for making image straight of tilt of image on hover */
.about__me-image:hover {
    transform: rotate(0);
}

/* =======================  MEDIA QUERIES (MEDIUM DEVICES) ===================== */

@media screen and (max-width: 1024px) {

    /* for shodow of img to cover screen */
    .about__me {
        width: 50%;
        margin: 2rem auto 4rem;
    }


}